<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(heart_fe).animate({
                    width: "50%"
                },10000);
            });
        </script>
    </head>   
    <body style="margin:0px;">
        <img id="heart_fe" src="images/heart_fe.png" />
<!--         <div id='onePage'>
            <h1>Wedding</h1>
            <h2>invitation<h2>
            <img></img>
            <h1>布朗&可尼</h1>
            <h2>2016-01-01 10:00</h2>
        <div> -->
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!--         <audio autoplay="autoplay" controls="controls" loop="loop" preload="auto" src="sound/jiepi.mp3" style="display:none">*你的浏览器不支持audio标签</audio> -->
        <img id="line1" src="images/20160216line-16.png" style="display:none"/>
        <img id="bg1" src="images/bg1.jpg" style="display:none"/>
        <img id="top" src="images/top.png" style="display:none"/>
        <img id="grass2" src="images/grass2_c.png" style="display:none"/>
        <img id="heart" src="images/heart.jpg" style="display:none"/>
        <!-- Add your site or application content here style="background-color:#FFB5C5"-->
        <canvas id="myCanvas" width="100%" height="100%">
            
        </canvas>
        

    </body>
</html>