<html>
 <head>
  <script type="application/javascript">
    function draw() {
      var canvas = document.getElementById('canvas');
        // drawDialog(canvas);
        // drawHeart(canvas);
        // drawColorRect(canvas);
        // drawColorRound(canvas);
        // drawAbRound(canvas);
        // drawAbRect(canvas);
        // drawTian(canvas);
        // drawLineCap(canvas);
        // drawLineJoin(canvas);
        // drawGame(canvas);
        // drawLinearGradient(canvas);
        // drawRadialGradient(canvas);
        // drawShadow(canvas);
        // drawSaveAndRestore(canvas);
        // drawSpirograph(canvas);
        // drawRotate(canvas);
        // drawScale(canvas);
        drawTrans(canvas);
    }

    function drawGame(canvas) {
      if (canvas.getContext){
          var ctx = canvas.getContext('2d');

          // roundedRect(ctx,12,12,150,150,15);
          // roundedRect(ctx,19,19,150,150,9);
          // roundedRect(ctx,53,53,49,33,10);
          // roundedRect(ctx,53,119,49,16,6);
          // roundedRect(ctx,135,53,49,33,10);
          // roundedRect(ctx,135,119,25,49,10);

          ctx.beginPath();
          ctx.arc(37,37,13,Math.PI/4,-Math.PI/4,false);
          ctx.lineTo(31,37);
          ctx.fill();

          for(var i=0;i<8;i++){
            ctx.fillRect(51+i*16,35,4,4);
          }

          for(i=0;i<6;i++){
            ctx.fillRect(115,51+i*16,4,4);
          }

          for(i=0;i<8;i++){
            ctx.fillRect(51+i*16,99,4,4);
          }

          ctx.beginPath();
          // ctx.moveTo(83,116);
          // ctx.lineTo(83,102);
          ctx.quadraticCurveTo(83, 94, 89, 88);
          // ctx.bezierCurveTo(83,94,89,88,97,88);
          // ctx.bezierCurveTo(105,88,111,94,111,102);
          // ctx.lineTo(111,116);
          // ctx.lineTo(106.333,111.333);
          // ctx.lineTo(101.666,116);
          // ctx.lineTo(97,111.333);
          // ctx.lineTo(92.333,116);
          // ctx.lineTo(87.666,111.333);
          // ctx.lineTo(83,116);
          ctx.fill();

          // ctx.fillStyle = "white";
          // ctx.beginPath();
          // ctx.moveTo(91,96);
          // ctx.bezierCurveTo(88,96,87,99,87,101);
          // ctx.bezierCurveTo(87,103,88,106,91,106);
          // ctx.bezierCurveTo(94,106,95,103,95,101);
          // ctx.bezierCurveTo(95,99,94,96,91,96);
          // ctx.moveTo(103,96);
          // ctx.bezierCurveTo(100,96,99,99,99,101);
          // ctx.bezierCurveTo(99,103,100,106,103,106);
          // ctx.bezierCurveTo(106,106,107,103,107,101);
          // ctx.bezierCurveTo(107,99,106,96,103,96);
          // ctx.fill();

          // ctx.fillStyle = "black";
          // ctx.beginPath();
          // ctx.arc(101,102,2,0,Math.PI*2,true);
          // ctx.fill();

          // ctx.beginPath();
          // ctx.arc(89,102,2,0,Math.PI*2,true);
          ctx.fill();
        }
    }
    
    // 封装的一个用于绘制圆角矩形的函数.
    function roundedRect(ctx,x,y,width,height,radius){
      ctx.beginPath();
      ctx.moveTo(x,y+radius);
      ctx.lineTo(x,y+height-radius);
      ctx.quadraticCurveTo(x,y+height,x+radius,y+height);
      ctx.lineTo(x+width-radius,y+height);
      ctx.quadraticCurveTo(x+width,y+height,x+width,y+height-radius);
      ctx.lineTo(x+width,y+radius);
      ctx.quadraticCurveTo(x+width,y,x+width-radius,y);
      ctx.lineTo(x+radius,y);
      ctx.quadraticCurveTo(x,y,x,y+radius);
      ctx.stroke();
    }
    function drawDialog(canvas) {
      if (canvas.getContext) {
        var ctx = canvas.getContext('2d');

        // 二次贝尔赛曲线
        ctx.beginPath();
        ctx.moveTo(75,25);
        ctx.quadraticCurveTo(25,25,25,62.5);
        ctx.quadraticCurveTo(25,100,50,100);
        ctx.quadraticCurveTo(50,120,30,125);
        ctx.quadraticCurveTo(60,120,65,100);
        ctx.quadraticCurveTo(125,100,125,62.5);
        ctx.quadraticCurveTo(125,25,75,25);
        ctx.stroke();
      }
    }
    function drawHeart(canvas) {
      if (canvas.getContext){
        var ctx = canvas.getContext('2d');

        //三次曲线
        ctx.beginPath();
        ctx.moveTo(75,40);
        ctx.bezierCurveTo(75,37,70,25,50,25);
        ctx.bezierCurveTo(20,25,20,62.5,20,62.5);
        ctx.bezierCurveTo(20,80,40,102,75,120);
        ctx.bezierCurveTo(110,102,130,80,130,62.5);
        ctx.bezierCurveTo(130,62.5,130,25,100,25);
        ctx.bezierCurveTo(85,25,75,37,75,40);
        ctx.fill();
      }
    }
    function drawColorRect(canvas) {
      var ctx = canvas.getContext('2d');
      for (var i=0;i<6;i++){
        for (var j=0;j<6;j++){
          ctx.fillStyle = 'rgb(' + Math.floor(255-42.5*i) + ',' + 
                           Math.floor(255-42.5*j) + ',0)';
          ctx.fillRect(j*25,i*25,25,25);
        }
      }
    }
    function drawColorRound(canvas) {
      var ctx = canvas.getContext('2d');
      for (var i=0;i<6;i++){
        for (var j=0;j<6;j++){
          ctx.strokeStyle = 'rgb(0,' + Math.floor(255-42.5*i) + ',' + 
                           Math.floor(255-42.5*j) + ')';
          ctx.beginPath();
          ctx.arc(12.5+j*25,12.5+i*25,10,0,Math.PI*2,true);
          ctx.stroke();
        }
      }
    }
    function drawAbRound(canvas) {
      var ctx = canvas.getContext('2d');
      // 画背景
      ctx.fillStyle = '#FD0';
      ctx.fillRect(0,0,75,75);
      ctx.fillStyle = '#6C0';
      ctx.fillRect(75,0,75,75);
      ctx.fillStyle = '#09F';
      ctx.fillRect(0,75,75,75);
      ctx.fillStyle = '#F30';
      ctx.fillRect(75,75,75,75);
      ctx.fillStyle = '#FFF';

      // 设置透明度值
      ctx.globalAlpha = 0.2;

      // 画半透明圆
      for (var i=0;i<7;i++){
          ctx.beginPath();
          ctx.arc(75,75,10+10*i,0,Math.PI*2,true);
          ctx.fill();
      }
    }
    function drawAbRect(canvas) {
      var ctx = canvas.getContext('2d');
      // 画背景
        ctx.fillStyle = 'rgb(255,221,0)';
        ctx.fillRect(0,0,150,37.5);
        ctx.fillStyle = 'rgb(102,204,0)';
        ctx.fillRect(0,37.5,150,37.5);
        ctx.fillStyle = 'rgb(0,153,255)';
        ctx.fillRect(0,75,150,37.5);
        ctx.fillStyle = 'rgb(255,51,0)';
        ctx.fillRect(0,112.5,150,37.5);

        // 画半透明矩形
        for (var i=0;i<10;i++){
          ctx.fillStyle = 'rgba(255,255,255,'+(i+1)/10+')';
          for (var j=0;j<4;j++){
            ctx.fillRect(5+i*14,5+j*37.5,14,27.5)
          }
        }
    }
    function drawTian(canvas) {
      var ctx = canvas.getContext('2d');
      for (var i = 0; i < 10; i++){
        ctx.lineWidth = 2;
        ctx.beginPath();
        ctx.moveTo(5+i*14,5);
        ctx.lineTo(5+i*14,140);
        ctx.stroke();
      }
      for (var i = 0; i < 10; i++){
        ctx.lineWidth = 2;
        ctx.beginPath();
        ctx.moveTo(5, 5+i*14);
        ctx.lineTo(140, 5+i*14);
        ctx.stroke();
      }
      // 填充矩形
      ctx.fillRect(2*14, 1*14, 5*14, 5*14);
    }
    function drawLineCap(canvas) {
      var ctx = canvas.getContext('2d');
      var lineCap = ['butt','round','square'];

      // 创建路径
      ctx.strokeStyle = '#09f';
      ctx.beginPath();
      ctx.moveTo(10,10);
      ctx.lineTo(140,10);
      ctx.moveTo(10,140);
      ctx.lineTo(140,140);
      ctx.stroke();

      // 画线条
      ctx.strokeStyle = 'black';
      for (var i=0;i<lineCap.length;i++){
        ctx.lineWidth = 15;
        ctx.lineCap = lineCap[i];
        ctx.beginPath();
        ctx.moveTo(25+i*50,10);
        ctx.lineTo(25+i*50,140);
        ctx.stroke();
      }
    }
    function drawLineJoin(canvas) {
      var ctx = canvas.getContext('2d');
      var lineJoin = ['round','bevel','miter'];
      ctx.lineWidth = 10;
      for (var i=0;i<lineJoin.length;i++){
        ctx.lineJoin = lineJoin[i];
        ctx.beginPath();
        ctx.moveTo(-5,5+i*40);
        ctx.lineTo(35,45+i*40);
        ctx.lineTo(75,5+i*40);
        ctx.lineTo(115,45+i*40);
        ctx.lineTo(155,5+i*40);
        ctx.stroke();
      }
    }
    function drawLinearGradient(canvas) {
      var ctx = canvas.getContext('2d');

      // Create gradients
      var lingrad = ctx.createLinearGradient(0,0,0,150);
      lingrad.addColorStop(0, '#00ABEB');
      lingrad.addColorStop(0.5, '#fff');
      lingrad.addColorStop(0.5, '#26C000');
      lingrad.addColorStop(1, '#fff');

      var lingrad2 = ctx.createLinearGradient(0,50,0,95);
      lingrad2.addColorStop(0.5, '#000');
      lingrad2.addColorStop(1, 'rgba(0,0,0,0)');

      // assign gradients to fill and stroke styles
      ctx.fillStyle = lingrad;
      ctx.strokeStyle = lingrad2;
      
      // draw shapes
      ctx.fillRect(10,10,130,130);
      ctx.strokeRect(50,50,50,50);

    }
    function drawRadialGradient(canvas) {
      var ctx = canvas.getContext('2d');

      // 创建渐变
      var radgrad = ctx.createRadialGradient(45,45,10,52,50,30);
      radgrad.addColorStop(0, '#A7D30C');
      radgrad.addColorStop(0.9, '#019F62');
      radgrad.addColorStop(1, 'rgba(1,159,98,0)');
      
      var radgrad2 = ctx.createRadialGradient(105,105,20,112,120,50);
      radgrad2.addColorStop(0, '#FF5F98');
      radgrad2.addColorStop(0.75, '#FF0188');
      radgrad2.addColorStop(1, 'rgba(255,1,136,0)');

      var radgrad3 = ctx.createRadialGradient(95,15,15,102,20,40);
      radgrad3.addColorStop(0, '#00C9FF');
      radgrad3.addColorStop(0.8, '#00B5E2');
      radgrad3.addColorStop(1, 'rgba(0,201,255,0)');

      var radgrad4 = ctx.createRadialGradient(0,150,50,0,140,90);
      radgrad4.addColorStop(0, '#F4F201');
      radgrad4.addColorStop(0.8, '#E4C700');
      radgrad4.addColorStop(1, 'rgba(228,199,0,0)');
      
      // 画图形
      ctx.fillStyle = radgrad4;
      ctx.fillRect(0,0,150,150);
      ctx.fillStyle = radgrad3;
      ctx.fillRect(0,0,150,150);
      ctx.fillStyle = radgrad2;
      ctx.fillRect(0,0,150,150);
      ctx.fillStyle = radgrad;
      ctx.fillRect(0,0,150,150);
    }
    function drawShadow(canvas) {
      var ctx = canvas.getContext('2d');

      ctx.shadowOffsetX = 2;
      ctx.shadowOffsetY = 2;
      ctx.shadowBlur = 2;
      ctx.shadowColor = "rgba(0, 0, 0, 0.5)";
     
      ctx.font = "20px Times New Roman";
      ctx.fillStyle = "#A7D30C";
      ctx.fillText("Wedding Invitation", 5, 30);
    }
    function drawSaveAndRestore(canvas) {

      var ctx = canvas.getContext('2d');

      ctx.fillRect(0,0,150,150);   // Draw a rectangle with default settings
      ctx.save();                  // Save the default state

      ctx.fillStyle = '#09F'       // Make changes to the settings
      ctx.fillRect(15,15,120,120); // Draw a rectangle with new settings

      ctx.save();                  // Save the current state
      ctx.fillStyle = '#FFF'       // Make changes to the settings
      ctx.globalAlpha = 0.5;    
      ctx.fillRect(30,30,90,90);   // Draw a rectangle with new settings

      ctx.restore();               // Restore previous state
      ctx.fillRect(45,45,60,60);   // Draw a rectangle with restored settings

      ctx.restore();               // Restore original state
      ctx.fillRect(60,60,30,30);   // Draw a rectangle with restored settings
    }
    function drawRotate(canvas) {
      var ctx = canvas.getContext('2d');
      ctx.translate(75,75);

      for (var i=1;i<6;i++){ // Loop through rings (from inside to out)
        ctx.save();
        ctx.fillStyle = 'rgb('+(51*i)+','+(255-51*i)+',255)';

        for (var j=0;j<i*6;j++){ // draw individual dots
          ctx.rotate(Math.PI*2/(i*6));
          ctx.beginPath();
          ctx.arc(0,i*12.5,5,0,Math.PI*2,true);
          ctx.fill();
        }

        ctx.restore();
      }
    }
    function drawSpirograph(canvas) {
      canvas.width = "600";
      canvas.height = "600";
      var ctx = canvas.getContext('2d');
      ctx.fillRect(0,0,300,300);
      for (var i=0;i<4;i++) {
        for (var j=0;j<4;j++) {
          ctx.save();
          ctx.strokeStyle = "#9CFF00";
          ctx.translate(50+j*100,50+i*100);
          _drawSpirograph(ctx,20*(j+2)/(j+1),-8*(i+3)/(i+1),10);
          ctx.restore();
        }
      }
    }
    function drawScale(canvas) {
      canvas.width = "600";
      canvas.height = "600";
      var ctx = canvas.getContext('2d');
      ctx.strokeStyle = "#fc0";
      ctx.lineWidth = 1.5;
      ctx.fillRect(0,0,300,300);

      // Uniform scaling
      ctx.save()
      ctx.translate(50,50);
      _drawSpirograph(ctx,22,6,5);  // no scaling

      ctx.translate(100,0);
      ctx.scale(0.75,0.75);
      _drawSpirograph(ctx,22,6,5);

      ctx.translate(133.333,0);
      ctx.scale(0.75,0.75);
      _drawSpirograph(ctx,22,6,5);
      ctx.restore();

      // Non-uniform scaling (y direction)
      ctx.strokeStyle = "#0cf";
      ctx.save()
      ctx.translate(50,150);
      ctx.scale(1,0.75);
      _drawSpirograph(ctx,22,6,5);

      ctx.translate(100,0);
      ctx.scale(1,0.75);
      _drawSpirograph(ctx,22,6,5);

      ctx.translate(100,0);
      ctx.scale(1,0.75);
      _drawSpirograph(ctx,22,6,5);
      ctx.restore();

      // Non-uniform scaling (x direction)
      ctx.strokeStyle = "#cf0";
      ctx.save()
      ctx.translate(50,250);
      ctx.scale(0.75,1);
      _drawSpirograph(ctx,22,6,5);

      ctx.translate(133.333,0);
      ctx.scale(0.75,1);
      _drawSpirograph(ctx,22,6,5);

      ctx.translate(177.777,0);
      ctx.scale(0.75,1);
      _drawSpirograph(ctx,22,6,5);
      ctx.restore();
      
    }
    function _drawSpirograph(ctx,R,r,O){
      var x1 = R-O;
      var y1 = 0;
      var i  = 1;
      ctx.beginPath();
      ctx.moveTo(x1,y1);
      do {
        if (i>20000) break;
        var x2 = (R+r)*Math.cos(i*Math.PI/72) - (r+O)*Math.cos(((R+r)/r)*(i*Math.PI/72))
        var y2 = (R+r)*Math.sin(i*Math.PI/72) - (r+O)*Math.sin(((R+r)/r)*(i*Math.PI/72))
        ctx.lineTo(x2,y2);
        x1 = x2;
        y1 = y2;
        i++;
      } while (x2 != R-O && y2 != 0 );
      ctx.stroke();
    }

    function drawTrans(canvas) {
      var content = canvas.getContext('2d');
      
      var num = 0;
      var num2 = 0;
      var value = 1;
      //translate(x,y)
      content.translate(100,100);
      //content.rotate(45*Math.PI/180);
      //scale(宽比，高比);
      //content.scale(2,2);
      //content.fillRect(0,0,100,100);
      setInterval(function(){
        num++;
        
        content.save();
        content.clearRect(-100,-100,canvas.width,canvas.height);
        if(num2 == 100){
          value = -1;
        }else if(num2 == 0){
          value = 1;
        }
        num2 += value;
        content.scale(num2*1/50,num2*1/50);
        content.rotate(num*Math.PI/180);
        content.translate(-50,-50);
        content.fillRect(0,0,100,100);
        content.restore();
      },30);
    }
  </script>
 </head>
 <body onload="draw();">
   <canvas id="canvas" width="150" height="150"></canvas>
 </body>
</html>